.benefits{
    margin-top: 10rem;
}

.benefits h1{
    font-weight: 800;
    font-size: 32px;
}

.benefits p{
    font-size: 18px;
    letter-spacing: 1px;
}

.benefits h1,
.benefits p{
    text-align: center;
    color: #49547d;
}

.benefits .benefit-container{
    margin-top: 7rem;
}

.benefits .benefit-container .benefit-boxes{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.benefits .benefit-container .benefit-boxes .box-benefit{
    width: 34rem;
    display: flex;
    
    margin: 1.2rem auto;
    
}

.benefits .benefit-container .benefit-boxes .box-benefit .benefit-text{
    margin-left: 15px;
}

.benefits .benefit-container .benefit-boxes .box-benefit .benefit-text h4{
    font-weight: 800;
    color: #49547d;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.benefits .benefit-container .benefit-boxes .box-benefit .benefit-text p{
    font-size: 0.8rem;
    text-align: left;
}