.footer{
    background-color: #212529;
    width: 100%;
    bottom: 0;
    left: 0; right: 0;
}

.footer .footer-container{
    padding: 2rem 6rem;
    color: #fff;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(255,255,255,.05);
    flex-wrap: wrap;
}

.footer .footer-container .footer-image{
    line-height: 1.6;
    width: 18rem;
}

.footer .footer-container .footer-image img{
    width: 6rem;
}

.footer .footer-container .footer-list{
    line-height: 1.6;
}

.footer .footer-container .footer-list ul{
    list-style: none;
}

.footer .footer-container .footer-list ul li{
    cursor: pointer;
    margin-top: 7px;
}

.footer .footer-container .footer-list ul .bold-list{
    font-weight: 800;
    font-size: 1rem;
    cursor: default;
}

.footer .footer-center{
    text-align: center;
    color: #555;
    padding: 1rem 2rem;
}